<label class="custom_tag filter-tag-label {{if this.isChecked 'checked'}}" for={{this.idTagName}}>
  <Input
    class="filter-tag-input"
    @checked={{this.isChecked}}
    id={{this.idTagName}}
    @type="checkbox"
    {{on "change" this.toggleTag}}
  />
  {{this.tagName}}

</label>