{{#if shouldShowBlock}}
<div class="custom-filters">
  <div class="custom-filters__body">
    <h3>{{theme-i18n "custom_filters.title"}}</h3>
    <ul class="custom-filters__tags">
      {{#each this.tagGroups as |tagGroup|}}
        <li class="custom-filters__group">
          <h2>{{tagGroup.name}}</h2>
          <div class="custom-filters__list">

            {{#each tagGroup.tags as |tag|}}
              <FilterTag
                @name={{tag}}
                @selectTag={{this.selectTag}}
                @deselectTag={{this.deselectTag}}
                @selectedTags={{this.selectedTags}}
                @primaryColor={{tagGroup.primaryColor}}
                @secondaryColor={{tagGroup.secondaryColor}}
              />
            {{/each}}

          </div>
        </li>
      {{/each}}

    </ul>
    <button class="custom-filters__button " {{action this.applyFilters}}>{{theme-i18n "apply_filters"}}</button>
  </div>
</div>
{{/if}}